# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files with contancts
ks-strukt.cpp
bin/
Plan/
obj/
KsiazkaAdresowa.cbp
KsiazkaAdresowa.depend
KsiazkaAdresowa.layout
KsiazkaAdresowa.cscope_file_list
Uzytkownicy.txt
Adresaci.txt